@font-face {
    font-family: "FSThriveElliot";
    font-weight: 300;
    font-display: block;
    font-style: normal;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Light.svg#FSThriveElliot-Light") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 300;
    font-display: block;
    font-style: italic;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-LightItalic.svg#FSThriveElliot-Italic") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 400;
    font-display: block;
    font-style: normal;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Regular.svg#FSThriveElliot-Regular") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 400;
    font-display: block;
    font-style: italic;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Italic.svg#FSThriveElliot-Italic") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 700;
    font-display: block;
    font-style: normal;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Bold.svg#FSThriveElliot-Bold") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 700;
    font-display: block;
    font-style: italic;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-BoldItalic.svg#FSThriveElliot-BoldItalic") format("svg")
}

@font-face {
    font-family: "FSThriveElliot";
    font-weight: 900;
    font-display: block;
    font-style: normal;
    src: url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.woff2") format("woff2"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.eot?#iefix") format("embedded-opentype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.woff") format("woff"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.ttf") format("truetype"), url("https://go.alight.com/rs/777-ERD-451/images/FSThriveElliot-Heavy.svg#FSThriveElliot-Heavy") format("svg")
}