//Colors 
$yellow-100: #FFF200;
$yellow-50: #FEF790;
$yellow-40: #FEF8A5;
$yellow-30: #FFFABA;
$yellow-20: #FFFBD1;
$yellow-10: #FFFDE7;
$slate-100: #0A2029;
$slate-90: #27363D;
$slate-80: #3E4D53;
$slate-70: #576368;
$slate-60: #6E797E;
$slate-50: #868F93;
$slate-40: #9FA6A9;
$slate-30: #B7BCBF;
$slate-20: #CFD2D4;
$slate-10: #E7E9EA;
$slate-05: #F3F4F4;
$black:    #000000;
$black-90: #191919;
$black-80: #333333;
$black-70: #4C4C4C;
$black-60: #666666;
$black-50: #7F7F7F;
$black-40: #999999;
$black-30: #B2B2B2;
$black-20: #CCCCCC;
$black-10: #E5E5E5;
$black-00: #FFFFFF;
$white: #FFFFFF;
$slate: $slate-100;
$orange: #FF9966;
$teal: #8FE4DE;
$blue: #A1C4FD;
$purple: #C4ABDA;
$light: #F2F2F2;

$core-colors: (
    "yellow": $yellow-100,
    "slate": $slate-100,
    "black": $black,
    "white": $white,
    "orange": $orange,
    "teal": $teal,
    "blue": $blue,
    "purple": $purple,
    "light": $light,
    "muted": $black-60,
) !default;

$shadow:                    0px 8px 35px 0px rgba(0, 0, 0, 0.08);

//Spacing
$spacer:                    16px;
$spacer-modifier:           1.250;
$spacer-half:               $spacer * .5;
$spacer-1:                  $spacer;
$spacer-2:                  $spacer-1 * $spacer-modifier;
$spacer-3:                  $spacer-2 * $spacer-modifier;
$spacer-4:                  $spacer-3 * $spacer-modifier;
$spacer-5:                  $spacer-4 * $spacer-modifier;
$spacer-6:                  $spacer-5 * $spacer-modifier;
$spacer-7:                  $spacer-6 * $spacer-modifier;
$spacer-8:                  $spacer-7 * $spacer-modifier;
$spacer-9:                  $spacer-8 * $spacer-modifier;
$spacer-10:                 $spacer-9 * $spacer-modifier;

$spacers: (
    0:                      0,
    1:                      $spacer-1,
    2:                      $spacer-2,
    3:                      $spacer-3,
    4:                      $spacer-4,
    5:                      $spacer-5,
    6:                      $spacer-6,
    7:                      $spacer-7,
    8:                      $spacer-8,
    9:                      $spacer-9,
    10:                     $spacer-10,
) !default;


//Type
$font-family:                   FSThriveElliot, 'FSThriveElliot', -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif;
$heading-line-height:           1.1;
$body-line-height:              1.5;
$body-font-size:                16px;